<footer
  class="h-fit bg-[#152729] text-[#EDD6B4] grid divide-y divide-solid divide-[#EDD6B4] md:divide-y-0 md:grid-cols-2 lg:grid-cols-3 lg:divide-x lg:divide-solid lg:divide-[#EDD6B4] lg:divide-y-0 mt-4"
>
  <div class="p-4 md:border-b-2 md:border-r-2 md:border-[#EDD6B4] lg:border-0">
    <h1 class="text-2xl mb-4">About</h1>
    <div class="flex justify-around space-x-2 mb-4">
      <img class="w-16 h-16" src="assets/angularIcon.png" alt="icon.png" />
      <img class="w-16 h-16" src="assets/HTMLIcon.png" alt="icon.png" />
      <img class="w-16 h-16" src="assets/CSSIcon.png" alt="icon.png" />
      <img class="w-16 h-16" src="assets/typescriptIcon.png" alt="icon.png" />
      <img
        class="w-16 h-16 object-contain"
        src="assets/tailwindCSSIcon.png"
        alt="icon.png"
      />
    </div>
    <p>
      This is ga3an restaurant's website a single page application, it was
      developed by Assem Sadek using these technologies. It features browsing
      the restaurant's menu, adding whatever you liked to cart, and proceed to
      pay.
    </p>
  </div>
  <div class="locations p-4 lg:border-0">
    <h1 class="text-2xl mb-4">Our Locations</h1>
    <div class="grid grid-cols-3 space-x-2 space-y-4">
      <div class="ml-2 mt-4 flex flex-col">
        <h3 class="text-lg">New Cairo</h3>
        <a href="https://maps.app.goo.gl/AgtJXMNXfHQdiA666" target="_blank"
          >Rehab</a
        >
        <a href="https://maps.app.goo.gl/ywFqqrG4BNB4PtHc6" target="_blank"
          >Fifth Settlement</a
        >
      </div>
      <div class="flex flex-col">
        <h3 class="text-lg">Heliopolis</h3>
        <a href="https://maps.app.goo.gl/sUptpeYPckC7smPk7" target="_blank"
          >El Nozha</a
        >
        <a href="https://maps.app.goo.gl/7bxHof4hT4kKVjCeA" target="_blank"
          >El Zahraa</a
        >
      </div>
      <div class="flex flex-col">
        <h3 class="text-lg">Obour City</h3>
        <a href="https://maps.app.goo.gl/phorj94kbQRZmwtt6" target="_blank"
          >9th District</a
        >
        <a href="https://maps.app.goo.gl/LZ5A1dayLUTAHvst5" target="_blank"
          >1st District</a
        >
      </div>
      <div class="flex flex-col">
        <h3 class="text-lg">6th of October</h3>
        <a href="https://maps.app.goo.gl/8HXUw6VueRHFB9c27" target="_blank"
          >1st District</a
        >
        <a href="https://maps.app.goo.gl/CV17DoZp2BynbAR5A" target="_blank"
          >Al Motamayez</a
        >
      </div>
      <div class="flex flex-col">
        <h3 class="text-lg">Giza</h3>
        <a href="https://maps.app.goo.gl/UfDxq6pnEg4sKkFVA" target="_blank"
          >Messadak</a
        >
        <a href="https://maps.app.goo.gl/hssZDL7eGAQdgCDj6" target="_blank"
          >Gamaet el Dewal</a
        >
        <a href="https://maps.app.goo.gl/8JMpR2JTLqxX5uF59" target="_blank"
          >Mesaha</a
        >
      </div>
    </div>
  </div>
  <div class="p-4">
    <h1 class="text-2xl">Contact Me</h1>
    <img
      class="mx-auto w-36 h-36 rounded-full object-cover"
      src="assets/me.jpg"
      alt="me"
    />
    <div class="flex justify-center text-lg mb-4">
      <p>Assem Abdelhamid Sadek</p>
    </div>
    <div class="flex justify-center space-x-2">
      <a href="https://github.com/AssemSadek90" target="_blank">
        <img
          class="w-8 h-8 clickableIcon"
          src="assets/githubIcon.png"
          alt="github"
        />
      </a>
      <a
        href="https://www.linkedin.com/in/assem-sadek-13aa132a0"
        target="_blank"
      >
        <img
          class="w-8 h-8 clickableIcon"
          src="assets/linkedinIcon.png"
          alt="github"
        />
      </a>
      <a href="mailto:abdelhamid.ssen@gmail.com" target="_blank">
        <img
          class="w-8 h-8 clickableIcon"
          src="assets/gmailIcon.png"
          alt="github"
        />
      </a>
    </div>
  </div>
</footer>
